.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 32px 0;
  border: #0096c7 solid 1px;
  background-color: black;
  border-radius: 30px;
}
.image {
  flex: 1;
  margin: 10px;
}
.info {
  flex: 2;
}
.link {
  padding: 8px;
  background-color: #0096c7;
  color: white;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}
.main:hover {
  box-shadow: 2px 3px 5px #0096c7;
  transition: ease-in 0.2s;
  transform: scale(1.1);
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
}
